@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
*{
    font-family: "Afacad Flux", sans-serif;
}
.main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cae3ee;
}
.card{
    height: 80vh;
    width: 80vw;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    box-shadow: 0px 15px 25px 0px  rgb(100, 100, 100);
}
.boxs1{
    height: 100%;
    width: 50%;
    background-image: linear-gradient(#3083a6 45%,#cae3ee 100%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.boxs2{
    height: 100%;
    width: 50%;
    background-color: rgb(230, 230, 230);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button{
    border: none;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 5px 2px 15px black;
    background-color: white;
}
button:active{
    box-shadow: none;
}
input{
    height: 45px;
    width: 300px;
    margin-bottom: 20px;
    border: 2px solid rgb(92, 92, 92);
    border-radius: 22.5px;
    padding: 0 10px;
    font-size: 18px;
}